<div class="main">
  <div class="left-section">
    <div class="logo">MediCure</div>
    <div class="menu">
      <li class="dashboard-active">
        <img src="dashboard.png" alt="" width="20px" />&nbsp;&nbsp;
        <p>Dashboard</p>
      </li>
      <a [routerLink]="['']"
        ><li>
          <i class="fa-solid fa-house"></i>&nbsp;&nbsp;
          <p>Home</p>
        </li></a
      >
      <li (click)="logout()">
        <i class="fa-solid fa-power-off"></i>&nbsp;&nbsp;
        <p>Log Out</p>
      </li>
    </div>
    <hr />
  </div>
  <div class="right-section">
    <div class="welcome">
      <h3>Hi, {{ userName }}</h3>
      <p>Welcome to your admin dashboard!</p>
    </div>
    <div class="line"></div>
    <div class="verify-shops">
      <h4>Verify Doctor Details</h4>
      <div class="verify-shops-list">
        <!-- Shop cards -->
        <div class="shop-info" *ngFor="let doctor of unverifiedDoctors">
          <div class="s-details">
            <h4>Name: {{ doctor.doctorName }}</h4>
            <p>Doctor Address: {{ doctor.address }}</p>
            <p>Registration Number: {{ doctor.doctorRegistrationNumber }}</p>
            <p>Email: {{ doctor.email }}</p>
          </div>
          <div class="s-btn">
            <button (click)="verifyDetails(doctor.email)">Verify</button>
          </div>
        </div>
        <div *ngIf="isLoading">Loading...</div>
        <button *ngIf="unverifiedDoctors.length < totalDoctors && !isLoading" (click)="loadMore()" class="load-btn">Load More</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
