<div class="authMain">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="container1">
    <div class="formContainer">
      <div class="fcRight">
        <p style="margin-bottom: 18px;font-weight: 600;">Forgot Password</p>
        <div *ngIf="step === 1">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitEmail()" class="f1">
            <input formControlName="email" placeholder="Enter your email" />
            <button [disabled]="forgotPasswordForm.invalid || loading" [ngClass]="{'disabled-btn': loading || forgotPasswordForm.invalid}" class="fb1">
              <span *ngIf="!loading">Send OTP</span>
              <span *ngIf="loading" class="spinner"></span>
            </button>
          </form>
        </div>

        <div *ngIf="step === 2">
          <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()" class="f1">
            <input formControlName="otp" placeholder="Enter the OTP" />
            <button [disabled]="otpForm.invalid || loading" [ngClass]="{'disabled-btn': loading || forgotPasswordForm.invalid}" class="fb1">
              <span *ngIf="!loading">Verify OTP</span>
              <span *ngIf="loading" class="spinner"></span>
            </button>
          </form>
        </div>

        <div *ngIf="step === 3">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()" class="f1">
            <input formControlName="password" type="password" placeholder="Enter new password" />
            <input formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
            <button [disabled]="passwordForm.invalid || loading" [ngClass]="{'disabled-btn': loading || forgotPasswordForm.invalid}" class="fb1">
              <span *ngIf="!loading">Change Password</span>
              <span *ngIf="loading" class="spinner"></span>
            </button>
          </form>
        </div>
        <a href="/login">Already Have An Account? Login</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
