/* You can add global styles to this file, and also import other style files */
:root{
  --shade-1: #007076;
  --shade-2: #004c55;
  --light: #fff;
  --dark: #002229;
  --shade-3: #EBFBFF;
  --shade-4: #c5fff6;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b1b1b;
}
.navbar {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #EBFBFF;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: medium;
  font-weight: 600;
}

.nav__links a:hover{
  color: #003b2c;
  font-size: large;
}

.link a {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  font-size: large;
  background-color: var(--shade-2);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.btn:hover {
  background-color: #007552;
}
.highlighter{
  background-color: var(--light-green);
}
.authMain{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/4433940.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container1{
  display: flex;
  background-color: #00000089;
  max-width: 100%;
  backdrop-filter: blur(10px);
  width: 100%;
  flex: 1;
}
.formContainer{
    display: flex;
    background: #ffffff1b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    color: var(--light);
    width: 320px;
    height: auto;
    margin: 50px auto;
  }
  .fcRight{
    width: 100%;
    box-sizing: border-box;
    padding: 18px 12px;
    font-size: large;
    font-weight: 500;
    text-align: center;
  }
  .fcRight a{
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
  }
  .f1{
    display: flex;
    flex-direction: column;
  }
  .fcRight input{
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding: 6px 10px;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: var(--light);
  }
  .fb1{
    border: none;
    margin: 12px 0;
    border-radius: 9999px;
    background-color: var(--shade-2);
    color: #fff;
    font-size: large;
    justify-content: center;
    display: flex;
    font-weight: 600;
    padding: 10px;
  }
  .fcRight select{
    border: none;
    padding: 4px 8px;
    background-color: #f3f3f3d3;
    border-radius: 4px;
    outline: none;
  }
  .spinner {
      border: 4px solid rgb(255, 255, 255);
      border-left-color: #00134b;
      border-radius: 50%;
      display: flex;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
    .disabled-btn {
      background-color: var(--shade-1); /* Gray color for disabled state */
      cursor: not-allowed; /* Change cursor to indicate it's not clickable */
      color: #888; /* Optional: Change text color in disabled state */
    }
  @media (max-width: 750px){
    .container{
      justify-content: center;
      align-items: center;
      padding-top: 30px;
    }
  }
  @media (max-width: 580px){
    .formContainer{
      width: 100%;
      max-width: 300px;
      background: linear-gradient(45deg, #dee5ff, #ceebff, #fbddff);
    }
    .fcLeft{
      display: none;
    }
    .fcRight{
      width: 100%;
    }
    .fcRight input{
      background-color: #fff;
    }
  }
.plant-card{
height: 420px;
}
