<div class="main">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>

  <!--============================================== MAIN CONTAINER ============================================-->
  <div class="container">
    <!-- <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="3.png" class="d-block w-100" alt="Ad 1" style="border-radius: 6px;">
      </div>
      <div class="carousel-item">
        <img src="1.png" class="d-block w-100" alt="Ad 2" style="border-radius: 6px;">
      </div>
      <div class="carousel-item">
        <img src="2.png" class="d-block w-100" alt="Ad 3" style="border-radius: 6px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
    <!--===============Quick Functionalites=================-->
    <div class="quick-functionalities">
      <h2>What plans do you have for today?</h2>
      <div class="quick-functionalities-container">
        <div class="mf">
          <i class="fa-solid fa-calendar-check"></i>
          <span>Book Appointment</span>
        </div>
        <div class="mf">
          <i class="fa-solid fa-stethoscope"></i>
          <span>Find Doctor</span>
        </div>
        <div class="mf">
          <i class="fa-solid fa-hospital"></i>
          <span>Find Hospital</span>
        </div>
        <div class="mf">
          <i class="fa-solid fa-hospital-user"></i>
          <span>Book Health Check-Up</span>
        </div>
        <div class="mf">
          <i class="fa-brands fa-slack"></i>
          <span>Consult Online</span>
        </div>
        <div class="mf">
          <i class="fa-solid fa-calendar-check"></i>
          <span>View Health Records</span>
        </div>
      </div>
    </div>

    <!--============================================== HEADER CONTENT ============================================-->
    <div class="header">
      <div class="content">
        <h1><span>Get Quick</span><br />Medical Services</h1>
        <p>
          In today's fast-paced world, accessing quality medical services
          conveniently is paramount to maintaining good health. With Medicure,
          you have a trusted companion right at your fingertips, revolutionizing
          the way you engage with healthcare.Medicure isn't just another app;
          it's your gateway to a seamless healthcare experience. Whether you're
          scheduling appointments, consulting with healthcare professionals, or
          managing your medical records, Medicure streamlines every aspect of
          your healthcare journey.
        </p>
        <a [routerLink]="['appointment']"
          ><button class="btn">Book Appointment</button></a
        >
      </div>
      <div class="image">
        <img src="doctor.jpg" alt="header image" />
      </div>
    </div>

    <!--======================= service-info ===========================-->
    <div class="mc1">
      <section class="what-we-provide">
        <!--**box1***********-->
        <div class="w-info-box w-i-box1">
          <!--icon-->
          <div class="w-info-icon">
            <i class="fa-solid fa-capsules"></i>
          </div>
          <!--text-->
          <div class="w-info-text">
            <strong>Specialised Service</strong>
            <p>All medical services are available</p>
          </div>
        </div>
        <!--**box2***********-->
        <div class="w-info-box w-i-box2">
          <!--icon-->
          <div class="w-info-icon">
            <i class="fa-regular fa-comments"></i>
          </div>
          <!--text-->
          <div class="w-info-text">
            <strong>24/7 Advanced Care</strong>
            <p>Treatment will be provoided at any time</p>
          </div>
        </div>
        <!--**box3***********-->
        <div class="w-info-box w-i-box3">
          <!--icon-->
          <div class="w-info-icon">
            <i class="fa-solid fa-square-poll-horizontal"></i>
          </div>
          <!--text-->
          <div class="w-info-text">
            <strong>Get Result Online</strong>
            <p>Results will be provided to patient within 24 hrs. via mail</p>
          </div>
        </div>
      </section>
    </div>
    <!--end-->

    <!--============================================== SHORT STORY ============================================-->
    <section id="our_story">
      <div class="our-story-img">
        <img
          src="https://www.shutterstock.com/image-photo/profile-photo-attractive-family-doc-600nw-1724693776.jpg"
        />
      </div>
      <div class="our-stroy-text">
        <h2 style="text-align: center;">About Us</h2>
        <p style="text-align: justify;">
          MediCure isn't just an app; it's your personal gateway to a world of
          healthcare support and expertise. With a vast network of experienced
          doctors, specialists, and caregivers, we're here to guide you on your
          journey to wellness. Our platform connects you with a diverse team of
          medical professionals, each dedicated to providing personalized care
          tailored to your unique needs. Whether you're seeking advice on
          managing a chronic condition, exploring treatment options, or simply
          looking for a trusted source of healthcare information, MediCure is
          here to help.
        </p>
        <div class="story-numbers-container">
          <div class="story-numbers-box s-n-box1">
            <strong>1520+</strong>
            <span>Happy Patients</span>
          </div>
          <div class="story-numbers-box s-n-box2">
            <strong>215+</strong>
            <span>Expert Doctor</span>
          </div>
          <div class="story-numbers-box s-n-box3">
            <strong>315+</strong>
            <span>Hospital Room's</span>
          </div>
          <div class="story-numbers-box s-n-box4">
            <strong>106+</strong>
            <span>Award Wining</span>
          </div>
        </div>
      </div>
    </section>

    <!--============================================== ABOUT US SECTION ============================================-->
    <!-- <div class="about-us" id="about">
      <div class="about-us-content" style="border-radius: 6px">
        <h1>About Us</h1>
        <p>
          Welcome to MediCure, your trusted healthcare companion. At MediCure,
          we are dedicated to providing convenient and accessible healthcare
          services to individuals and families worldwide. Our mission is to
          revolutionize the healthcare industry. At MediCure, we believe in
          personalized care tailored to the unique needs of each individual.
          Join us on our journey to transform healthcare and make quality
          healthcare services accessible to all.
        </p>
      </div>
    </div> -->

    <!--=================== Why-choose-us =======================-->
    <section id="why-choose-us">
      <!--**left*****************-->
      <div class="why-choose-us-left">
        <h3>Why Choose Us?</h3>
        <!--==container====-->
        <div class="why-choose-box-container">
          <!--**box**-->
          <div class="why-choose-box">
            <!--icon-->
            <i class="fa-solid fa-check"></i>
            <!--text-->
            <div class="why-choose-box-text">
              <strong>Advance Care</strong>
              <p>Providing advanced medical solutions</p>
            </div>
          </div>
          <!--**box**-->
          <div class="why-choose-box">
            <!--icon-->
            <i class="fa-solid fa-check"></i>
            <!--text-->
            <div class="why-choose-box-text">
              <strong>Online Medicine</strong>
              <p>Access a wide range of medications</p>
            </div>
          </div>
          <!--**box**-->
          <div class="why-choose-box">
            <!--icon-->
            <i class="fa-solid fa-check"></i>
            <!--text-->
            <div class="why-choose-box-text">
              <strong>Medical & Surgical</strong>
              <p>Offering comprehensive medical services</p>
            </div>
          </div>
          <!--**box**-->
          <div class="why-choose-box">
            <!--icon-->
            <i class="fa-solid fa-check"></i>
            <!--text-->
            <div class="why-choose-box-text">
              <strong>Lab Test's</strong>
              <p>Facilitating efficient laboratory services</p>
            </div>
          </div>
        </div>
        <!--==btn========-->
        <button [routerLink]="['appointment']" class="why-choose-us-btn">Make Appointment</button>
      </div>
      <!--left-end-->

      <!--**right*******************-->
      <div class="why-choose-us-right">
        <h3>
          Emergency?<br />
          Contact Us
        </h3>
        <p>
          Medicure offers prompt and reliable emergency services, ensuring swift
          access to medical assistance when it matters most.
        </p>
        <!--==container====-->
        <div class="w-right-contact-container">
          <!--**box**-->
          <div class="w-right-contact-box">
            <i class="fa-solid fa-phone"></i>
            <!--text-->
            <div class="w-right-contact-box-text">
              <span>Call Us Now</span>
              <strong>+123 4567 89</strong>
            </div>
          </div>
          <!--**box**-->
          <div class="w-right-contact-box">
            <i class="fa-solid fa-envelope"></i>
            <!--text-->
            <div class="w-right-contact-box-text">
              <span>Mail Us</span>
              <strong>info&malt;example.com</strong>
            </div>
          </div>
        </div>
      </div>
      <!--right-end-->
    </section>
    <!--end-->

    <!--============================================== SUBSCRIPTION PLANS SCHEME AVAILABLE ============================================-->

    <section class="subscription-plans-section">
      <div class="icontainer">
        <h1 class="section-title">Subscription Plans</h1>
        <p class="section-description">
          Choose the best subscription plan that fits your medical needs.
        </p>
        <div class="plans-container">
          <!-- Basic Plan -->
          <div class="plan-card">
            <h2 class="plan-title">Basic Plan</h2>
            <p class="plan-price">Free</p>
            <ul class="plan-features">
              <li>No setup fees</li>
              <li>Basic coverage</li>
              <li>24/7 support</li>
            </ul>
            <button class="select-button">Select</button>
          </div>

          <!-- Standard Plan -->
          <div class="plan-card most-popular">
            <h2 class="plan-title">Standard Plan</h2>
            <p class="plan-price">₹ 299 / month</p>
            <ul class="plan-features">
              <li>No hidden fees</li>
              <li>Comprehensive coverage</li>
              <li>Priority support</li>
            </ul>
            <button class="select-button">Select</button>
          </div>

          <!-- Premium Plan -->
          <div class="plan-card">
            <h2 class="plan-title">Premium Plan</h2>
            <p class="plan-price">₹ 599 / month</p>
            <ul class="plan-features">
              <li>All-inclusive coverage</li>
              <li>Dedicated support team</li>
              <li>Customizable options</li>
            </ul>
            <button class="select-button">Select</button>
          </div>
        </div>
      </div>
    </section>

    <!--============================================== SERVICES OFFERED ============================================-->
    <section id="our-services" style="border-radius: 6px">
      <!--**heading********************-->
      <div class="services-heading">
        <!--text-->
        <div class="services-heading-text">
          <strong>Our Services</strong>
          <h2>High Quality Services For You</h2>
        </div>
        <!--btns-->
        <div class="service-slide-btns">
          <button class="prev-btn" (click)="prevSlide()">❮</button>
          <button class="next-btn" (click)="nextSlide()">❯</button>
        </div>
      </div>

      <!-- Services container -->
      <div class="services-box-container">
        <div class="slider">
          <div
            class="slider-wrapper"
            [style.transform]="translateX"
            [style.transition]="'transform 0.5s ease-in-out'"
          >
            <!-- Slide 1 -->
            <div class="slider-item">
              <div class="service-box s-box1">
                <i class="fa-solid fa-tooth"></i>
                <strong>Dental Care</strong>
                <p>
                  Offering comprehensive dental services tailored to maintain
                  oral health and enhance smiles.
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="slider-item">
              <div class="service-box s-box2">
                <i class="fa-solid fa-eye"></i>
                <strong>Eye Care</strong>
                <p>
                  Providing specialized eye care services to preserve vision and
                  ensure optimal eye health.
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="slider-item">
              <div class="service-box s-box3">
                <i class="fa-solid fa-face-smile"></i>
                <strong>Skin Care</strong>
                <p>
                  Offering personalized skincare treatments to promote healthy,
                  radiant skin.
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
            <!-- Slide 4 -->
            <div class="slider-item">
              <div class="service-box s-box4">
                <i class="fa-solid fa-user-doctor"></i>
                <strong>Surgical</strong>
                <p>
                  Delivering advanced surgical procedures with precision and
                  expertise to address various medical conditions.
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--btn-->
      <span class="service-btn"
        >Contact Us For Need Any Help And Services
        <a href="#">Let's get Started</a></span
      >
    </section>
    <!--services-end-->

    <!--============================================== TAG SECTION ============================================-->
    <!-- <div class="greet-container">
      <h1>
        Your Health, Our Priority: Empowering Wellness, Every Step of the Way
      </h1>
    </div> -->

    <!--============================================== FAQS SECTION ============================================-->
    <div class="faq-container">
      <h2>Frequently Asked Questions</h2>
      <details>
        <summary>How can I pay for medical services?</summary>
        <p>
          We accept various payment methods including credit/debit cards, online
          payment gateways, and cash. You can choose the payment method that is
          most convenient for you during the checkout process.
        </p>
      </details>

      <details>
        <summary>Can I cancel or reschedule my appointment?</summary>
        <p>
          Yes, you can cancel or reschedule your appointment by contacting our
          customer support team or using our online appointment management
          system. Please make sure to notify us at least 24 hours in advance to
          avoid any cancellation fees.
        </p>
      </details>

      <details>
        <summary>Do you have subscription plans?</summary>
        <p>
          Yes, we have a wide range of subscription plans. Please check with our
          subscription plans provider to see if our services are covered under your plan.
          You can also contact our billing department for assistance with
          subscription plans related inquiries.
        </p>
      </details>

      <details>
        <summary>What medical services do you offer?</summary>
        <p>
          We offer a wide range of medical services including consultations,
          prescription refills, emergency assistance, and more. Please refer to
          our Services section for more details.
        </p>
      </details>

      <details>
        <summary>How do I book an appointment?</summary>
        <p>
          To book an appointment, simply click on the "Book Appointment" button
          on our homepage. You will be directed to our appointment booking
          system where you can choose your preferred date and time.
        </p>
      </details>

      <details>
        <summary>Is my personal information secure?</summary>
        <p>
          Yes, we take the security of your personal information very seriously.
          Our platform uses the latest encryption technology to ensure that your
          data is protected at all times.
        </p>
      </details>
    </div>

    <!---------------------CUSTOMER REVIEWS------------------------------->
    <div class="reviews-contact-section">
      <section id="testimonials">
        <!--**heading****************-->
        <div class="testimonials-heading">
          <h3>Our Patients Feedback About Us</h3>
          <p>
            We value the opinions of our patients. Here's what they have to say
            about their experiences with us.
          </p>
        </div>

        <!--**testimonials-Content****-->
        <div class="testimonials-content">
          <div class="testimonials-box">
            <!--profile-->
            <div class="t-profile">
              <!--img-->
              <div class="t-profile-img">
                <img
                  alt=""
                  src="https://th.bing.com/th/id/OIP.SGqq783QvFBS6N22mPKmPAHaJQ?rs=1&pid=ImgDetMain"
                />
              </div>
              <!--text-->
              <div class="t-profile-text">
                <strong>Manoj Das</strong>
                <span>From Odisha</span>
                <div class="t-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <!--feedback-->
            <p>
              The care I received at this hospital was exceptional. The staff was
              attentive, compassionate, and professional throughout my stay. I
              highly recommend this hospital to anyone in need of medical care.
            </p>
          </div>
          <!--box-end-->
          <div class="testimonials-box">
            <!--profile-->
            <div class="t-profile">
              <!--img-->
              <div class="t-profile-img">
                <img
                  alt=""
                  src="https://th.bing.com/th/id/OIP.PN0_KWYAzGRqIFvZ73dH2AHaHa?w=500&h=500&rs=1&pid=ImgDetMain"
                />
              </div>
              <!--text-->
              <div class="t-profile-text">
                <strong>Anjali Patel</strong>
                <span>From Gujrat</span>
                <div class="t-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <!--feedback-->
            <p>
              I am grateful for the excellent care I received at this hospital.
              The medical team went above and beyond to ensure my comfort and
              well-being. I couldn't have asked for better treatment.
            </p>
          </div>
          <!--box-end-->
          <div class="testimonials-box">
            <!--profile-->
            <div class="t-profile">
              <!--img-->
              <div class="t-profile-img">
                <img
                  alt=""
                  src="https://mir-s3-cdn-cf.behance.net/user/276/0c17044460717.5c5c95f1f3ea5.jpg"
                />
              </div>
              <!--text-->
              <div class="t-profile-text">
                <strong>Rahul Sharma</strong>
                <span>From Uttar Pradesh</span>
                <div class="t-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <!--feedback-->
            <p>
              The medical care I received at this hospital surpassed my
              expectations. The doctors and nurses were knowledgeable, caring, and
              attentive to my needs. I highly recommend this hospital to anyone
              seeking quality healthcare.
            </p>
          </div>
          <!--box-end-->
        </div>
        <!--content-end-->
      </section>
      <!--============================================== GET IN TOUCH / CONTACTS SECTION ============================================-->
      <div class="contact-parent-container">
        <div class="contact">
          <h1>Get In Touch</h1>
          <input placeholder="Enter your Name" />
          <input placeholder="Enter your Phone Number" />
          <textarea
            class="message"
            placeholder="Describe your concern...."
          ></textarea>
          <button class="submit">Submit</button>
        </div>
      </div>
    </div>
    <!--============================================== SUBSCRIBE SECTION ============================================-->
    <!-- <section id="subscribe">
      <h3>Subscribe For New Updates From MEDIcare</h3>
      <form class="subscribe-box">
        <input type="email" placeholder="Example@gmail.com" />
        <button>Subscribe</button>
      </form>
    </section> -->
    <!--end-->
  </div>
  <!--============================================== FOOTER SECTION ============================================-->
  <app-footer></app-footer>
</div>
